pytest>=7.2.0
pytest-cov>=3.0.0
pytest-asyncio>=0.20.2
homeassistant>=2023.2.0b2
python-ember-mug==0.5.3
home-assistant-bluetooth
pytest-homeassistant-custom-component>=0.12.50

# home assistant dependencies for bluetooth
pyserial==3.5
bluetooth-auto-recovery==1.0.3
aiohttp_cors==0.7.0
pyudev==0.23.2
